.modal-after-register {
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 600px;
    width: 100%;
    background-color: $color-white;
    padding: 24px 16px;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
        color: green;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__title {
        font-size: 24px;
        line-height: 28px;
        color: #28a745;
    }

    &__text {
        font-size: 16px;
        line-height: 20px;
    }

    &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 8px;
        top: 8px;
        height: 28px;
        width: 28px;
    }
}