.nav {
    &__menu {
        padding-top: 100px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 12px;
        position: relative;
        min-height: 32px;

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &--active {
            &::before {
                content: "";
                background-color: $color-white;
                position: absolute;
                min-width: 290px;
                min-height: 100%;
                height: 50px;
                right: 0;
                padding-left: 30px;
                margin-right: -30px;
                z-index: 0;

                @include vp-1280 {
                    margin-right: -20px;
                };
            }

            & .nav__link-text,
            & svg {
                position: absolute;
                z-index: 2;
            }

            & .nav__link-text {
                padding-left: 44px;
            }
        }

        &-text {
            color: $color-tangaroa;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0.04em;
        }
    }
}