.pagination {
    display: flex;
    gap: 10px;
    margin: 0 auto;

    &__btn {
        font-size: 20px;
        line-height: 24px;
        color: $color-dark-gray-1;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 32px;
            height: 32px;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-7px, -4px);
        }

        &--active {
            font-size: 24px;
            line-height: 28px;
            color: inherit;
        }
    }
}