.tracks {
    display: flex;
    flex-direction: column;

    &__heading {
        font-weight: 400;
        font-size: 30px;
        line-height: 100%;
        color: $color-tangaroa;
        margin: 0 0 25px;
        letter-spacing: 0.025em;
    }

    &__table {
        margin: 0 0 40px;

        tr {
            display: grid;
            grid-template-columns: repeat(auto-fit, 40px minmax(297px, 434px) minmax(170px, 262px) minmax(95px, 239px) 99px);
            align-items: center;
            border-bottom: 1px solid $color-whisper;

            @include vp-1280 {
                grid-template-columns: repeat(auto-fit, 40px minmax(240px, 434px) minmax(170px, 262px) minmax(95px, 239px) 99px);
            }
        }

        thead th {
            text-align: left;
            padding: 8px 8px 2px;
            text-transform: uppercase;
            color: $color-dark-gray-2;
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            letter-spacing: 0.09em;
            position: relative;
            top: -3px;
            left: -2px;
        }
    }

    &__list {
        display: grid;
        gap: 20px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__td {
        padding: 12px 13px 14px 6px;
        height: 100%;
        display: flex;
        align-items: center;

        span,
        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
        }

        &--count {
            font-size: 20px;
            letter-spacing: 0.01em;
        }

        &--info {
            gap: 10px;
        }

        &--date {
            display: grid;
            grid-template-columns: minmax(100px, 197px) 25px;
            color: $color-dark-gray-1;
        }

        &--time {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25px, 56px) 27px);
            color: $color-dark-gray-1;
        }

        &--date span,
        &--time span {
            letter-spacing: -0.04em;
            width: fit-content;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        text-align: left;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        font-size: 14px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: $color-nero;

        @media (max-width: 1100px) {
            font-size: 18px;
        };
    }

    &__artist {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: $color-dark-gray-1;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__like {
        width: 24px;
        height: 24px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: -4px;
            top: -4px;
            width: 32px;
            height: 32px;
            z-index: 2;
        }

        path {
            stroke: $color-red-orange;
            color: transparent;
            transition: color 0.3s ease;
        }

        &--active {
            path {
                color: $color-red-orange;
            }
        }
    }
}