.track-play {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    border-top: 1px solid $color-whisper;
    padding: 6px 30px 20px;
    display: flex;
    align-items: center;
    gap: 84px;
    max-width: 100vw;
    width: 100%;
    background-color: $color-white;

    &__info {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__title-wrap {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 0 0 10px;
    }

    &__text {
        font-size: 12px;
        line-height: 12px;
        color: $color-dark-gray-1;
    }

    &__actions {
        display: flex;
        gap: 20px;
        align-items: center;
        width: 681px;
    }

    &__btn {
        &--play {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $color-dark-gray-1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}