$ff-main: "Actor", sans-serif;

/* Colors */
$color-nero: #171717;
$color-tangaroa: #11253D;
$color-white: #FFFFFF;
$color-white-smoke: #F5F5F5;
$color-dark-gray-1: #AAAAAA;
$color-dark-gray-2: #A4A4A4;
$color-burnt-orange: #FC6D3E;
$color-whisper: #E8E8E8;
$color-manatee: #8F939F;
$color-your-pink: #f9c4c2;
$color-snow: #fffbfb;
$color-periwinkle: #cdcfde;
$color-free-speech-blue: #3356D7;
$color-royal-blue: #476BF0;
$color-perano: #A0B4FF;
$color-sunset-orange: #f6514b;

/* */
$vp-tablet: 1280px;
$vp-mobile: 767px